# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# 编译产物
*.class
*.jar
*.war

# 构建目录
/target/
/build/

# IntelliJ IDEA配置
.idea/
*.iml
*.ipr
*.iws

# 日志文件
*.log
logs/

# 系统文件
.DS_Store
Thumbs.db
/checkstyle-idea.xml
/git_toolbox_prj.xml
/MarsCodeWorkspaceAppSettings.xml
/misc.xml
/modules.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
